spring:
  main:
    web-application-type: none
  application:
    name: spring-batch
  datasource:
    url: jdbc:postgresql://localhost:5432/batch?currentSchema=batch
    username: postgres
    password: admin

  batch:
    jdbc:
      initialize-schema: always

  jpa:
    hibernate:
      ddl-auto: update
